

.ad-song-p1{
    width: 400px;
    height: 400px;
}

.ad-horizontal{
    text-align: center;
}

.ad-horizontal div{
    display: inline-block;
    min-width: 350px;
    width: 70%;
    max-width: 100vw;
}